body {
	background-color: rgb(243,242,236);
}

#logo {
	margin-right: auto;
	margin-left: 20px;
}

#header {
	/* position: fixed; */
	/*   z-index: 500; */
	/* width: 100%; */
	background-color: rgb(243,242,236);
	display: flex;
	flex-direction: column;
	color: red;
	/* background-color: yellow; */
	font-size: 22px;
	border-bottom: 1.5px solid #E0E0E0;
	transition: top 0.3s;
}

#header-stick {
	position: fixed;
	z-index: 600;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(243,242,236);
	transition: top 0.3s;
}

.invisible {
	display: none;
}

.nonFix {
	z-index: 500;
	width: 100%;
	background-color: rgb(243,242,236);
	position: fixed;

}

.nav-links {
	display: flex;
	padding: 0;
}

/* This is for the nav links, both left and right.*/
.nav-links a {
	text-decoration: none;
	color: rgb(119,119,119);
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 90;
	font-size: 18px;
	letter-spacing: 1px;
}

.pro {
	display: inline-block;
	padding: 8px 20px 8px 20px;
	border: 2px solid black;
	border-radius: 25px;
	border-width: 1px;
	color: black;
	
}

.nav-links a.pro {
	color: black;
}

.nav-links a:hover {
	text-decoration: none;
	color: rgb(220,169,96);
}

.nav-right {
	margin-left: auto;
	display: flex;
}

.nav-right li {
	display: flex;
	margin-right: 35px;
	justify-content: center;
	align-items: center;
	/* vertical-align: baseline; */
	/* position: absolute; */
}

#content {
	/* color: blue; */
	/* height: 80vh; */
	margin-bottom: 10px;
}

#footer {
	
}

.primary-color {
	color: rgb(34,34,34);
}

.secondary-color {
	color: rgb(119,119,119);
}

.accent-color {
	color: rgb(220,169,96);
}

.accent-color-darker {
	color: #C4A992;
	border-color: #C4A992;
	border-style: solid;
	border-width: 1.5px;
	font-size: 20px;
	padding: 10px 25px 10px 25px;
	background-color: rgb(243,242,236);
	margin-top: 40px;
}

.accent-color-darker:hover {
	color: black;
	border-color: black;
	border-style: solid;
}

ul {
	list-style-type: none;
}

.footer-title {
	font-size: 23px;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
}

.highlight {
	display: grid;
	justify-content: center;
	grid-template-columns: 40% 20%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.highlight-title {
	font-size: 60px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.credentials {
	display: flex;
	justify-content: center;
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: #EDEBE4;
}

.credentials img:hover {
	filter: brightness(85%);
}

.footer-list {
	/* background-color: red; */
	display: grid;
	grid-template-columns: 20% 10% 10% 10% 10%;
	justify-content: center;
	border-bottom: 1.5px solid #E0E0E0;
}

/* TODO: Do not forget to remove the hight*/
.footer-crn {
	justify-content: center;
	height: 500px;
	text-align: center;
}

.highlight-txt{
	margin-right: 50px;
}

.footer-list li:not(:first-child) {
	margin-bottom: 10px;
}
