body {
	margin: 0px;
}

#logo {
	margin-right: auto;
	margin-left: 20px;
}

#header {
	/* position: fixed; */
	/*   z-index: 500; */
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	color: red;
	/* background-color: yellow; */
	font-size: 22px;
	border-bottom: 1.5px solid #E0E0E0;
	transition: top 0.3s;
}

#header-stick {
	position: fixed;
	z-index: 600;
	width: 100%;
	top: 0;
	left: 0;
	/* background-color: rgb(243,242,236); */
	transition: top 0.3s;
}

.invisible {
	display: none;
}

.nonFix {
	z-index: 500;
	width: 100%;
	background-color: rgb(243,242,236);
	position: fixed;

}

.nav-links {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

/* This is for the nav links, both left and right.*/
.nav-links a {
	text-decoration: none;
	color: rgb(119,119,119);
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 90;
	font-size: 18px;
	letter-spacing: 1px;
}

.pro {
	display: inline-block;
	padding: 8px 20px 8px 20px;
	border: 2px solid black;
	border-radius: 25px;
	border-width: 1px;
	color: black;
	
}

.nav-links a.pro {
	color: black;
}

.nav-links a:hover {
	text-decoration: none;
	transition: 0.15s ease-in-out;	
	color: rgb(220,169,96);
}

.nav-right {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
}

.nav-right li {
	display: flex;
	margin-right: 35px;
	justify-content: center;
	align-items: center;
	/* vertical-align: baseline; */
	/* position: absolute; */
}

.dropdown {
	display: none;
   position:absolute;
	/* width: 100%; */
	z-index: 900;	
	background-color: rgb(243,242,236);
	border: 1px solid rgb(119,119,119);
	top: 70px;
}
.dropdown li {
	margin-top: 5px;
	margin-bottom: 5px;
}

li:hover ul.dropdown {
	display: block;
}

li:hover .arrow{
	transform: rotate(90deg);
	fill: rgb(220,169,96);
}
.arrow {
	transition: 0.3s ease-in-out;	
	fill: rgb(119,119,119);
}

#content {
	/* color: blue; */
	/* height: 80vh; */
	margin-bottom: 10px;
}

/* #footer { */
/**/
/* } */

.primary-color {
	color: rgb(34,34,34);
}

.secondary-color {
	color: rgb(119,119,119);
}

.accent-color {
	color: rgb(220,169,96);
}

.accent-color-darker {
	color: #C4A992;
	border-color: #C4A992;
	border-style: solid;
	border-width: 1.5px;
	font-size: 20px;
	padding: 10px 25px 10px 25px;
	background-color: rgb(243,242,236);
	margin-top: 40px;
}

.accent-color-darker:hover {
	color: black;
	border-color: black;
	border-style: solid;
}

ul {
	list-style-type: none;
}

.footer-title {
	font-size: 23px;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
}

.highlight {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	/* grid-template-columns: 40% 20%; */
	/* margin-top: 20px; */
	/* margin-bottom: 50px; */
	padding: 20px calc(9% - 50px) 50px;
}

.highlight-txt {
	margin-right: 50px;
	width: 30%;
}

.highlight-title {
	font-size: 60px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.credentials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 110px;
	padding-bottom: 110px;
}

.credentials img:hover {
	filter: brightness(85%);
}

.featured {
	text-align: center;
	margin: 30px;
	border-bottom: 1.5px solid #E0E0E0;
}
.featured > h4 {
	color: #949494;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 120;
	font-size: 14px;
	margin: 0px;
}
.featured h1 {
	font-weight: 120;
	margin: 5px 0px 20px;
}

.featured-books {
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	/* grid-auto-rows: 400px; */
	justify-content: center;	
	justify-items: center;
}
.featured-book {
	/* display: grid; */
	/* text-align: center; */
	/* justify-content: center; */
	margin: 0px 0px 0px 0px;
	width: calc(15vw + 200px);
	margin: 10px 20px;
}
.featured-book img {
	width: 10vw;
}
.featured-book h2 {
	font-size: 18px;
	color: #73642F;
}
.featured-book h4 {
	font-family: sans-serif;
	font-weight: 120;
	font-size: 13px;
	color: #808080;
}
.featured-book h3 {
	font-family: sans-serif;
	color: #73642F;
	font-weight: 520;
	font-size: 20px;
}
.featured-book h3 > del {
	font-size: 15px;
	color: black;
}

.quote {
	text-align: center;
	padding: 30px;
}
.quote h1 {
	font-weight: 500;
	color: #2f2f2f;
}
.quote h4 {
	font-family: sans-serif;
	font-weight: 120;
	font-size: 16px;
	color: #808080;
}
.quote h5 {
	font-weight: 500;
	font-size: 18px;
	color: #808080;
}
.footer-list {
	/* background-color: red; */
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	border-bottom: 1.5px solid #E0E0E0;
	margin: 0 10%;
}

/* TODO: Do not forget to remove the hight*/
.footer-crn {
	justify-content: center;
	height: 500px;
	text-align: center;
}

.footer-list li:not(:first-child) {
	margin-bottom: 10px;
}

.mobile-nav {
	display: none;
}
