body {
	background-color: rgb(243,242,236);
}

#logo {
	margin-right: auto;
	margin-left: 20px;
}

#header {
	display: flex;
	flex-direction: column;
	color: red;
	/* background-color: yellow; */
	font-size: 22px;
	border-bottom: 1.5px solid #E0E0E0;
}

.nav-links {
	display: flex;
	padding: 0;
}

.nav-links a {
	text-decoration: none;
	color: rgb(119,119,119);
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}
.nav-links a.pro {
	color: black;
}

.nav-links a:hover {
	text-decoration: none;
	color: rgb(220,169,96);
}
.nav-right {
	margin-left: auto;
	display: flex;
	display: none;
}
.nav-right li {
	display: flex;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
	/* vertical-align: baseline; */
	/* position: absolute; */
}

#content {
	/* color: blue; */
	/* height: 80vh; */
	margin-bottom: 10px;
}

#footer {
	
}

.primary-color {
	color: rgb(34,34,34);
}

.secondary-color {
	color: rgb(119,119,119);
}

.accent-color {
	color: rgb(220,169,96);
}

.accent-color-darker {
	color: #C4A992; 
	border-color: #C4A992;
	border-style: solid;
	font-size: 30px;
}
ul {
	list-style-type: none;
}

.footer-title {
	font-size: 25px;
	margin-bottom: 10px;
}

.highlight {
	display: grid;
	justify-content: center;
	grid-template-columns: 30% 20%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.highlight-title {
	font-size: 60px;
}
.credentials {
	display: flex;
	justify-content: center;
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: #EDEBE4;
}

.footer-list {
	/* background-color: red; */
	display: grid;
	grid-template-columns: 20% 10% 10% 10% 10%;
	justify-content: center;
	border-bottom: 1.5px solid #E0E0E0;
}
.footer-crn {
	justify-content: center;
}
.pro {
	display: inline-block;
	padding: 10px;
	border: 2px solid black;
	border-radius: 25px;
	border-width: 2px;
	color: black;
	
}
